@media screen and (max-width: 768px) {
  .left-side {
    flex-direction: column;
    gap: 0px !important;
  }
  .dubai-flag {
    height: 12px;
  }
  .link-wrapper,
  .reserve-button,
  .banner-card.card2,
  .banner-left-card-container {
    display: none !important;
  }
  .banner-image {
    height: 700px !important;
  }
  .banner-container {
    height: 1200px !important;
  }
  .banner-card.card1 {
    top: 50% !important;
  }
  .floating-banner-text {
    font-size: 80px !important;
  }
  .floating-banner-text-wrapper {
    bottom: -70px !important;
  }
  .section-wrapper .header-title {
    font-size: 28px !important;
    padding: 0px 70px;
  }
  .nav {
    width: calc(100% - 30px) !important;
  }
  .proud-title {
    font-size: 11px !important;
    gap: 5px !important;
  }
  .banner-container .banner-action .heading .item2 {
    font-size: 44px !important;
  }
  .banner-container .banner-action .button-wrapper {
    width: 100%;
    justify-content: center;
  }
  .down-button {
    width: 100%;
  }
  .banner-container .banner-action .heading .item3 {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .banner-container .banner-action {
    padding-top: 180px !important;
    gap: 30px !important;
  }
  .get-started-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (min-width: 1180px) {
  .section-wrapper .item-wrapper {
    display: none;
  }
}
@media screen and (max-width: 1179px) {
  .section-wrapper .garage-section,
  .section-wrapper .split-section {
    display: none;
  }
  .section-wrapper {
    padding: 48px 24px;
    width: calc(100% - 48px);
  }
  .section-wrapper .header-title {
    margin: 0;
  }
  .section-wrapper .item-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
    width: 100%;
  }
  .section-wrapper .item-wrapper .item {
    align-items: flex-start;
    background-color: #e6e6e6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 150px;
    padding: 16px;
    width: calc(50% - 8px);
  }
  .section-wrapper .item-wrapper .item .item-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    text-align: left;
  }
  .section-wrapper .item-wrapper .item .item-text {
    color: #484848;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    text-align: left;
  }
  .section-wrapper .item-wrapper .item.tipping {
    background-image: url(../../assets/tipping-background.png);
    background-position-y: bottom;
    background-repeat: no-repeat;
  }
  .get-started-section-wrapper
    .get-started-wrapper
    .inner-section
    .gear-token-wrapper,
  .get-started-wrapper .inner-section .gear-token-wrapper .title {
    font-size: 36px !important;
  }
  .get-started-section-wrapper .get-started-wrapper {
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 48px 24px;
    width: 100%;
  }
  .get-started-section-wrapper
    .get-started-wrapper
    .inner-section
    .gear-token-wrapper
    img {
    width: 290px;
  }
  .get-started-section-wrapper
    .get-started-wrapper
    .inner-section
    .car-cafe-image,
  .get-started-section-wrapper
    .get-started-wrapper
    .inner-section
    .car-cafe-image
    .cafe-image-style {
    width: 100%;
  }
  .get-started-section-wrapper .get-started-wrapper .inner-section {
    width: 100%;
  }
  .footer-section-wrapper {
    display: flex !important
    ;
    flex-direction: column;
    gap: 0;
    padding: 24px;
  }
  .footer-section-wrapper .footer-section-main {
    padding: 48px 24px !important;
    width: calc(100% - 48px) 
    !important;
  }
  .footer-section-wrapper .footer-information {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 48px 0;
    width: 100%;
  }
  .get-started-section-wrapper .get-started-wrapper .inner-section .sub-section {
    gap: 16px;
    padding-top: 16px;
}
.get-started-section-wrapper .get-started-wrapper .inner-section .sub-section .panel {
  font-size: 18px;
  height: 93px;
  width: calc(50% - 32px);
}
}
@media screen and (max-width: 600px) {
  #soonIcon {
    height: 80px;
    width: 80px;
  }
  .banner-container .banner-action .heading .item2,
  .footer-section-wrapper .footer-section-main .heading .item2 {
    font-size: 44px !important;
  }
  .banner-container .banner-action .heading .item3,
  .footer-section-wrapper .footer-section-main .heading .item3 {
    font-size: 16px !important
    ;
  }
  .footer-section-wrapper .footer-section-main .down-button {
    width: 100%
    !important;
    text-align: center;
  }
}
